section.city-section
  .wrapper
    .city-section__container
      h2.city-section__title.font-s-42.text-up
        | Откройте магазин 
        br.no-br
        | по франшизе 
        span.color-violet «ONE SERVICE»
      .city-section__sub-title.font-w-semi-bold.font-s-24
        | и зарабатывайте 
        span.color-violet от 3,1 млн ₽ 
        br
        | чистой прибыли в год
      .font-w-medium.font-s-18 Проверьте, свободен ли ваш город для работы с нами
      form.city-section__form(data-feedback-form)
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input(type="text" name="city" autocomplete="off" placeholder="Ваш город")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
        button.btn(type="submit") Проверить
        .city-section__agree-wrapper
          include ../components/agree.pug
      img.city-section__img(src="images/city-section-img.png" loading="lazy" width="735" height="724" alt="image")
      include ../components/footer.pug
