header.header
  .wrapper
    .header__container
      .header__brand-block
        img.header__logo(src="images/logo.svg" loading="lazy" width="100" height="100" alt="logo")
        .header__brand
          .font-w-semi-bold.font-s-16 ONE SERVICE
          .font-w-regular.font-s-14.color-grey Франшиза магазина телефонов и аксессуаров
      button.header__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
  .header__brand-mobile.font-w-regular.font-s-14 Франшиза магазина телефонов и аксессуаров
