section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-s-40.text-up
        span.color-violet 4 сильных причины 
        br
        | стать партнером франшизы 
        span.color-violet «ONE SERVICE»
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .font-w-regular.font-s-20
              span.font-w-semi-bold.color-violet Высокий спрос. 
              | Мобильные телефоны, аксессуары 
              br.no-br
              | и услуги ремонта, актуальны в каждом городе 
              br.no-br
              | России, поэтому вы гарантированно будете 
              br.no-br
              | обеспечены клиентами
          .reasons-section__card.swiper-slide
            .font-w-regular.font-s-20
              span.font-w-semi-bold.color-violet Сильный маркетинг. 
              | Мы передадим вам по- 
              br.no-br
              | настоящему рабочие маркетинговые инструменты, 
              br.no-br
              | которые помогут вам быстро выделиться на 
              br.no-br
              | конкурентном рынке
          .reasons-section__card.swiper-slide
            .font-w-regular.font-s-20
              span.font-w-semi-bold.color-violet Бизнес-модель. 
              | Предоставим вам готовую бизнес- 
              br.no-br
              | модель с проверенной эффективностью и поможем 
              br.no-br
              | быстро прийти к первым финансовым результатам
          .reasons-section__card.swiper-slide
            .font-w-regular.font-s-20
              span.font-w-semi-bold.color-violet Легкий старт. 
              | Передадим готовый план запуска 
              br.no-br
              | магазина всего за 2 месяца и будем сопровождать 
              br.no-br
              | вас на всех этапах становления и развития бизнеса
        .bullet-pagination
      .reasons-section__text.font-s-24 Хотите узнать детали сотрудничества?
      .reasons-section__bottom
        button.btn.reasons-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
        .font-w-medium.font-s-20
          span.color-violet Скачайте договор, 
          | в котором описаны 
          br
          | наши обязанности и условия партнерства
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="651" height="617" alt="image")
